// primary colors
$primary-orange: #d25d13;
$primary-blue: #7ba7ae;

// header
$header-grey: #4a4948;
$header-lightgrey: #dbdad4;

$white: #fff;

$grey-100: #e2e1dd;
$grey-300: #e5e5e5;

$box-shadow: #a2a2a2;
