footer {
    box-shadow: 10px 11px 16px 5px rgb(0 0 0 / 25%);
    position: relative;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    background: $grey-300;
    color: $header-grey;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 14px;

    .container__1000 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        @include respond-to("small-max") {
            flex-direction: column;
            gap: 0;
        }
    }

    .footer__col {
        width: 100%;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                padding: 2px;
            }

            li:hover {
                color: $primary-orange;
                cursor: pointer;
            }
        }

        .home,
        .projects {
            margin: 10px 0;
            list-style-image: url("../media/square.svg");
        }

        .furniture,
        .sectors {
            margin: 10px 0;
            li:first-child {
                list-style-image: url("../media/square.svg");
            }
        }
    }
    .footer__col.last {
        margin-top: 10px;
        ul li {
            list-style-image: url("../media/square.svg");
        }
    }

    .footer__col.address {
        margin-top: 10px;

        @include respond-to("medium-max") {
            margin-top: 30px;
        }
    }

    .footer__social {
        margin-top: 20px;
        h3 {
            color: $primary-orange;
            font-size: 13px;
            margin-bottom: 20px;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    address {
        text-transform: capitalize;
        max-width: 200px;
        font-style: normal;
        margin: 0 auto;
        span {
            font-weight: $bold;
            color: $primary-orange;
        }

        a {
            color: $header-grey;
            text-decoration: none;
            &:hover {
                color: $primary-orange;
                cursor: pointer;
            }
        }
    }
}
