.main-hero {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background: $header-lightgrey;
    max-height: 1200px;

    @include respond-to("small-max") {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container__1000 {
        display: flex;
        flex-direction: column;

        @include respond-to("small-min") {
            flex-direction: row;
        }
    }

    &__left {
        width: 100%;
        z-index: 2;

        &--image {
            background-image: url("../media/main-hero.png");
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 370px;
            width: 100%;
        }

        &--content {
            background: $primary-blue;
            padding: 40px;
            min-height: 188px;

            h1 {
                font-family: $font-main;
                font-weight: 500;
                padding: 10px 0;
                font-size: 19px;
                color: $black;
            }

            p {
                font-family: $font-main;
                color: $white;
                font-size: 14px;
            }
        }
    }

    &__right {
        background: $primary-orange;
        color: $white;
        text-align: right;
        max-width: 352px;
        padding: 30px;

        @include respond-to("small-max") {
            max-width: unset;
            max-height: 550px;
        }

        @include respond-to("small-min") {
            z-index: 2;
        }

        &--title {
            font-size: 42px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p {
            font-size: 21px;
            margin-bottom: 10px;
            span {
                text-transform: uppercase;
            }
        }

        &--image {
            margin-top: 20px;
        }
        @include respond-to("small-min") {
        }
    }

    &__slider {
        .placeholder {
            width: 1150px;
        }
        display: none;
        justify-content: center;
        align-items: center;
        background: white;
        width: 100%;
        height: 188px;
        position: relative;
        top: -188px;
        z-index: 1;
        img {
            height: 72px;
            width: 32px;

            &:hover {
                filter: invert(34%) sepia(83%) saturate(1124%)
                    hue-rotate(357deg) brightness(100%) contrast(89%);
            }
        }
        @include respond-to("small-min") {
            display: flex;
        }
    }
}

.content-grid {
    display: flex;
    flex-direction: column;
    @include respond-to("medium-min") {
        display: grid;
        grid-template-columns: auto 320px 200px 200px;
        grid-template-rows: 200px 237px 215px 250px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . . ."
            ". . . . ."
            ". . . . ."
            ". . . . .";
    }
    @include respond-to("small-min") {
        margin-top: -160px;
    }

    .expanding {
        h2 {
            font-style: italic;
            max-width: 280px;
            text-align: left;

            @include respond-to("small-min") {
                max-width: 260px;
            }
        }
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $header-lightgrey;
        color: $text-blue;
        padding: 20px;
        max-height: 200px;
        @include respond-to("small-min") {
            align-items: flex-end;
        }
        p {
            max-width: 280px;
        }
        img {
            margin-top: 10px;
            max-width: 87px;
            @include respond-to("medium-min") {
                align-self: flex-end;
            }
            @include respond-to("small-max") {
                align-self: flex-end;
            }
        }
    }
    .brighten {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        max-height: 200px;
        padding: 20px;
        background: linear-gradient(
                0deg,
                rgba(15, 13, 14, 0.7),
                rgba(15, 13, 14, 0.7)
            ),
            url("../media/brighten-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        align-items: center;
        img {
            margin-left: 13px;
            margin-top: 10px;
            align-self: flex-end;
            max-width: 87px;
            align-self: flex-end;
        }
        .container {
            max-width: 310px;
            display: flex;
        }
    }
    .blue-box {
        grid-column: 3 / 4;
        background: $primary-blue;
        min-height: 30px;
        min-width: 200px;
        max-height: 200px;
        @include respond-to("medium-max") {
            display: none;
        }
    }
    .statement {
        grid-column: 4/6;
        color: $text-blue;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond-to("medium-max") {
            justify-content: center;
        }

        p {
            max-width: 230px;
            font-style: italic;
            margin-left: 5px;
            font-size: 19px;

            @include respond-to("medium-min") {
                max-width: 150px;
            }
        }
    }
    .small-chair {
        grid-row: 2;
        grid-column: 1 / 4;
        background: $primary-orange;
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;

        @include respond-to("small-max") {
            flex-direction: column;
        }

        .image {
            padding: 20px;
            @include respond-to("medium-min") {
                position: relative;
                top: 85px;
                left: 31px;
            }
        }

        .content {
            max-width: 350px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            @include respond-to("small-max") {
                padding-left: 20px;
            }
            h2 span {
                font-style: italic;
                font-weight: 700;
            }
            p {
                margin-left: 30px;
            }
            p span {
                font-weight: 700;

                &:hover {
                    color: $black;
                    cursor: pointer;
                }
            }
        }

        .flavour-img {
            @include respond-to("small-max") {
                margin-bottom: 20px;
            }
            margin-top: 50px;
            max-width: 100px;
            align-self: flex-end;
        }
    }
    .colourful-chairs {
        grid-row: 2;
        grid-column: 4/6;
        background-image: url("../media/chairs-around-table.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blue-background {
        background: $primary-blue;
        grid-row: 3/5;
        grid-column: 1;
    }

    .customer-care {
        grid-column: 1;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-self: self-end;
        background-image: url("../media/customer-care.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 465px;
        max-width: 333px;
        padding: 20px;
        @include respond-to("medium-max") {
            max-width: unset;
        }
        h2 {
            text-align: right;
            color: $white;
        }
        .btn {
            padding: 12px 24px;
            color: #fff;
            border: none;
            cursor: pointer;
            margin-bottom: 10px;
            font-family: $font-main;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .outside {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        background-image: url("../media/grass.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        @include respond-to("medium-max") {
            height: 200px;
        }
        h2 {
            max-width: 233px;
            background: $primary-blue;
            color: $white;
        }
    }
    .twitter {
        grid-column: 4 / 6;
        grid-row: 3;
        background: $header-grey;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 70px;
        @include respond-to("medium-max") {
            padding: 0;
            height: 100px;
            justify-content: center;
        }
        img {
            height: 50px;
            width: 60px;

            &:hover {
            }
        }
    }
    .form {
        background: $primary-orange;
        color: $white;
        padding: 20px 35px;
        grid-row: 4 /5;
        grid-column: 2 /6;

        p {
            margin-bottom: 20px;
        }

        .form-container {
            display: flex;
            max-width: 600px;
            width: 100%;
            flex-direction: row;
            align-items: flex-end;

            .btn {
                margin-left: 30px;
                padding: 50px 10px 20px 10px;

                margin-bottom: 4px;
                text-transform: uppercase;
            }
        }

        form {
            input {
                max-width: 495px;
                width: 100%;
                height: 27px;
                margin: 5px;
            }
            input::placeholder {
                text-transform: uppercase;
                font-style: italic;
                padding: 0 10px;
            }
        }
    }
}
